node_modules
.next
dist
.env
.env.local
coverage
apps/api/src/generated/prisma
apps/api/uploads/*
!apps/api/uploads/seed
.DS_Store

.env.*
!.env.example
!*.example
*.tsbuildinfo
.local/
apps/web/AGENTS.md
apps/web/CLAUDE.md
